* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #000;
    display: flex;
    align-items: column;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 50px;
}

form {
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    margin: 30px auto;
    height: 200px;
    align-content: center;
}

input[type="text"] {
    background-color: black;
    color: chartreuse;
}

select option {
    background-color: black;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select option[value="1"] {
    background: rgba(100, 100, 100, 0.3);
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #404040;
    color: #ffffff;
    position: absolute;
    margin: 50px;
    padding: 10px;
    align-items: center;
    border: none;
    font-weight: 100;
    text-transform: uppercase;
    border-radius: 8px;
    display: inline-block;
    margin-left: 10%;
}

#btn:hover {
    cursor: pointer;
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background-color: bisque;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(255, 255, 255, 0.57);
    transition: all 0.3s ease 0s;
}
